.idea
out
target
src/main/java/TestClass.java
src/main/java/dump
JavaAndMySql.iml
src/main/resources
src/main/java/*.jar
src/main/java/utilities/*.jar
src/main/java/Manifest.txt
fakeCookies.youWereHacked
